* { padding: 0; margin: 0; font-family: Texturina,sans-serif; color: #8A8E92;}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #202225;
}

nav {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

nav ol {
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
}

nav ol li {
    padding: 15px;
    background-color: #2F3136;
}
nav ol li:hover {
    animation: 500ms big;
}
@keyframes big {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#logo a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

#left {
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

#right {
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

#logo img:hover {
    transform: scale(1.1);
}

.logoImg {
    border-radius: 100%;
    width: 30%;
    height: 30%;
    min-height: 50px;
    min-width: 50px;
    background-color: white;}

.inv {
    color: white;
}

.rotate {
    animation: rotation 8s infinite linear;
    border-radius: 100%;
    width: 30%;
    height: 30%;
    min-height: 50px;
    min-width: 50px;
    background-color: lightblue;
    /* background: url('https://media.giphy.com/media/3BRDkVjKikYW4/giphy.gif'); */

    align-items: center;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg) scale(0);
    }
    to {
      transform: rotate(359deg) scale(1);
    }
  }

#cache:hover #cache-content {
    display: block;
}

#cache-content {
    display: none;
    z-index: 1;
}

#custom-bg {
    background: url('http://vision.gel.ulaval.ca/~jflalonde/cours/1001/h17/tps/tp0/giphy.gif');
}

#instructions {
    border: 2px solid #202225;
    width: 90vw;
    margin: 0 auto;
    border-radius: 5px;
    align-self: center;
}

#instructions legend {
    margin-left: 20px;
}

#instructions p {
    padding: 5px;
}