:root {
    --back: #bce7fd;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    color: black;
    list-style-position: inside;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--back);
}

header {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #202225; */
}

nav {
    margin: 10px auto;
    /* padding: 0; */
    overflow: hidden;
    display: table;
    /* position: fixed; */
    /* border-radius: 50px;
    background-color: black; */
}

nav ul {
    list-style-type: none;
    text-align: center;
    /* width: max-content; */
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    display: block;
    color: whitesmoke;
    padding: 15px;
    text-decoration: none;
    border-radius: 30px;
    background-color: black;
    transition: 500ms;
}

nav ul li a i {
    color: whitesmoke;
}
nav ul li a:hover i {
    color: black;
    transform: scale(0.95);
    transition-delay: 50ms;
}

nav ul li a:hover {
    background-color: whitesmoke;
    color: black;
    transform: scale(1.05);
    transition-delay: 50ms;
}

nav ul li a:active {
    transform: scale(0.995);
}

nav ul li a.lock:focus {
    background-color: rgb(19, 189, 13);
}

main {
    margin: 60px;
}

.inv {
    color: var(--back);
}

.inv:hover {
    color: black;
}

#page1 {
    text-align: center;
    font-size: 400%;
}

#cache:hover #cache-content {
    display: block;
}

#cache-content {
    display: none;
    z-index: 1;
}

#instructions {
    border: 2px solid #202225;
    margin: 20px auto;
    border-radius: 5px;
    align-self: center;
}

#instructions legend {
    margin-left: 20px;
}

#instructions p {
    padding: 5px;
}

/* Pour page2.html */

#lock {
    position: absolute;
    width: 6em;
    transform: translateY(-10px);
}

/* ------------------------------ */

/* Pour hack.html */

#tableGPS {
    display: flex;
    justify-content: center;
    border: 0.5rem;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid black;
}

td {
    padding: 0.4rem;
    text-align: center;
}

/* ------------------------------ */

/* Pour hex.html */

.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #bce7fd;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

.container:hover .overlay {
    bottom: 100%;
    height: 0;
}

.text {
    white-space: nowrap;
    color: rgb(245, 230, 230);
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    bottom: 0;
}

footer img {
    max-width: 100px;
}

[id^="fleche"] {
    position: absolute;
    max-width: 150px;
}

#fleche1 {
    top: 45%;
    left: 10%;
    transform: rotate(-60deg);
}

#fleche2 {
    top: 60%;
    left: 10%;
    transform: rotate(-190deg);
}

#fleche3 {
    top: 60%;
    left: 30%;
    transform: rotate(-150deg);
}

#fleche4 {
    top: 70%;
    left: 45%;
    transform: rotate(110deg);
    /* filter: invert(100%); */
}

#fleche4:hover {
    cursor: pointer;
}

#fleche4:active {
    transform: rotate(-20deg);
}

#fleche5 {
    top: 20%;
    left: 60%;
    transform: rotate(-150deg);
}

#fleche6 {
    top: 30%;
    left: 80%;
    transform: rotate(-220deg);
}

/* ------------------------------ */

/* Pour about.html et contact.html */

.center {
    margin: auto;
    display: flex;
    justify-content: center;
}

.carte {
    display: inline-block;
    padding: 10px;
    margin: 25px;
    min-width: 300px;
    max-width: fit-content;
    height: fit-content;
    border-radius: 30px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    list-style-position: inside;
    transition: 250ms;
}

.carte img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 400px;
    max-width: 100%;
}

.carte iframe {
    border-radius: 25px;
    width: 100%;
}
.carte:hover {
    transform: scale(1.02) translate(10px, -10px);
    box-shadow: -20px 20px 20px 0px rgba(0, 0, 0, 0.2),
        0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.center a {
    color: black;
    transition: 250ms;
}

.center a:hover {
    filter: invert(60%);
}

/* ------------------------------ */

/* Pour le mode mobile */
@media screen and (max-width: 650px) {
    nav ul li {
        display: block;
        padding: 5px;
    }
    header {
        min-height: 200px;
    }

    #lock {
        opacity: 0;
    }

    .center {
        display: block;
    }
}
