:root {
    --back: #bce7fd;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    color: black;
    list-style-position: inside;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--back);
}

header {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #202225; */
}

nav {
    margin: 10px auto;
    /* padding: 0; */
    overflow: hidden;
    display: table;
    /* position: fixed; */
    /* border-radius: 50px;
    background-color: black; */
}

nav ul {
    list-style-type: none;
    text-align: center;
    /* width: max-content; */
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

@media screen and (max-width: 650px) {
    nav ul li {
        display: block;
        padding: 5px;
    }
}

nav ul li a {
    display: block;
    color: whitesmoke;
    padding: 15px;
    text-decoration: none;
    border-radius: 30px;
    background-color: black;
    transition: 500ms;
}

nav ul li a:hover {
    background-color: whitesmoke;
    color: black;
    transform: scale(1.05);
    transition-delay: 50ms;
}

nav ul li a:active {
    transform: scale(0.995);
}

nav ul li a.lock:focus {
    background-color: rgb(19, 189, 13);
}
/* 
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#left {
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

#right {
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

#logo img:hover {
    transform: scale(1.1);
}

.logoImg {
    border-radius: 100%;
    width: 30%;
    height: 30%;
    min-height: 50px;
    min-width: 50px;
    background-color: white;
} */

main {
    margin: 60px;
}

.inv {
    color: var(--back);
}

.inv:hover {
    color: black;
}

#page1 {
    text-align: center;
    font-size: 400%;
}

/* .rotate {
    animation: rotation 8s infinite linear;
    border-radius: 100%;
    width: 30%;
    height: 30%;
    min-height: 50px;
    min-width: 50px;
    background-color: lightblue;

    align-items: center;
}

@keyframes rotation {
    from {
        transform: rotate(0deg) scale(0);
    }
    to {
        transform: rotate(359deg) scale(1);
    }
} */

#cache:hover #cache-content {
    display: block;
}

#cache-content {
    display: none;
    z-index: 1;
}

#custom-bg {
    background: url("http://vision.gel.ulaval.ca/~jflalonde/cours/1001/h17/tps/tp0/giphy.gif");
}

#instructions {
    border: 2px solid #202225;
    width: 90vw;
    margin: 20px auto;
    border-radius: 5px;
    align-self: center;
}

#instructions legend {
    margin-left: 20px;
}

#instructions p {
    padding: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1px solid black;
}

td {
    padding-top: 10px;
    text-align: center;
}

#gridsex {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

#gridsex img {
    width: 90%;
}

.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #bce7fd;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

.container:hover .overlay {
    bottom: 100%;
    height: 0;
}

.text {
    white-space: nowrap;
    color: rgb(245, 230, 230);
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    bottom: 0;
}

footer img {
    max-width: 100px;
}

#fleche1 {
    position: absolute;
    padding: 50px;
    max-width: 150px;
    transform: rotate(-60deg);
}
#fleche2 {
    position: absolute;
    top: 350px;
    left: 100px;
    max-width: 150px;
    transform: rotate(-190deg);
}
#fleche3 {
    position: absolute;
    top: 300px;
    left: 400px;
    max-width: 150px;
    transform: rotate(-140deg);
}
#fleche4 {
    position: absolute;
    top: 350px;
    left: 100px;
    max-width: 150px;
    transform: rotate(-190deg);
}
#fleche5 {
    position: absolute;
    top: 350px;
    left: 100px;
    max-width: 150px;
    transform: rotate(-190deg);
}

.center {
    margin: auto;
    display: flex;
}

.carte {
    display: inline-block;
    padding: 10px;
    margin: 25px auto;
    max-width: 400px;
    border-radius: 30px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    list-style-position: inside;
    transition: 250ms;
}

.carte img,
.carte iframe {
    max-width: 300px;
    border-radius: 25px;
}

.carte:hover {
    transform: scale(1.02) translate(10px, -10px);
    box-shadow: -20px 20px 20px 0px rgba(0, 0, 0, 0.2),
        0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

#lock {
    position: absolute;
    width: 6em;
    transform: translateY(-10px);
}
